<div class="{{ clase }}">Crear mi diseño</div>
<select (change)="irPersonalizador($event.target.value)">
    <option value="" selected="selected">Seleccionar modelo</option>
    <option value="zapatillas">Zapatillas<i class="fas fa-weight-hanging"></i></option>
    <option value="botines">Botines<i class="fas fa-weight-hanging"></i></option>
    <option value="mocasines">Mocasines<i class="fas fa-weight-hanging"></i></option>
    <option value="suecos">Suecos<i class="fas fa-weight-hanging"></i></option>
    <option value="casual">Casual<i class="fas fa-weight-hanging"></i></option>
</select>